body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  flex-direction: column;
}

#circleContainer {
  display: grid;
  grid-template-columns: repeat(10, auto);
  gap: 5px;
  margin-top: 20px;
}

.circle {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}